/* .input_container{
  width: 200px;
  height: 35vh;
  border: 2px solid rgb(217, 200, 17);
  text-align: center;
  padding: 30px;
  background-color: antiquewhite;
  margin-left: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: x-large

}
.header-con{
  width: auto;
  background-color: rgb(82, 113, 103);
  color: white;
}
.header-con h1{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 10px;
}
.search{
  text-align: end;
  padding: 5px;
  font-size: x-large;
}
.main{
  display: inline;
}
 */
